

# ======== Emoji Prefix ========
# 🎉  :tada:     初めてのコミット     (Initial commit)
# ✨  :sparkles: 新機能               (New features)
# 🔧  :wrench:   設定ファイルの変更   (Changing configuration files)
# 💄  :lipstick: UI/スタイル改善      (Updating the UI and style files)
# ✏   :pencil2:  typo修正             (Fixing typos)
# 📝  :memo:     ドキュメントを書いた (Writing docs)
# 🔥  :fire:     コード/ファイル削除  (Removing code or files.)
# 🐛  :bug:      バグ修正             (Fixing a bug)
# ♻   :recycle:  リファクタリング     (Refactoring code)
# 🚨  :rotating_light: Removing linter warnings.
# 🚧  :construction: 実装中 (Work in progress)
# 💩  :hankey: Writing bad code that needs to be improved.
# 🚑  :ambulance: Critical hotfix.
# ➕  :heavy_plus_sign: Adding a dependency.
# ➖  :heavy_minus_sign: Removing a dependency.
# 🔊  :loud_sound: Adding logs.
# 🔇  :mute: Removing logs.
# ✅  :white_check_mark: テスト追加 Adding tests.
# 🔒  :lock: Fixing security issues.
# 🌐  :globe_with_meridians: Internationalization and localization.
# ⬆️   :arrow_up: Upgrading dependencies.
# ⬇️   :arrow_down: Downgrading dependencies.
# ⏪  :rewind: Reverting changes.
# 🔀  :twisted_rightwards_arrows: Merging branches.
# 💡  :bulb: Documenting source code.
# 💚  :green_heart: Fixing CI Build.
# 👷  :construction_worker: Adding CI build system.
# 🐳  :whale: Work about Docker.
# 🚚  :truck: Moving or renaming files.
# 🙈  :see_no_evil: Adding or updating a .gitignore file
# 👽  :alien: Updating code due to external API changes.
# 🚀  :rocket: Deploying stuff.
# 🎨  :art: Improving structure / format of the code.
# 🍱  :bento: Adding or updating assets.
# 🏷  :label: Adding or updating types (Flow, TypesScript)
# 🗃  :card_file_box: Performing database related changes.
# 🔍  :mag: Improving SEO
# 📦  :package: Updating compiled files or packages.

# ======== Format ========
# :emoji: Subject
#
# Commit body...
